### Домашнее задание «Функции и работа с данными»

### Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [26]:
import pandas as pd

In [15]:
ratings = pd.read_csv('C:\\Users\\2-hom\\Documents\\Data_analysis\\Pyton_Notebook\\ml-latest-small\\ratings.csv')
ratings.head(100)

    userId  movieId  rating  timestamp
0        1        1     4.0  964982703
1        1        3     4.0  964981247
2        1        6     4.0  964982224
3        1       47     5.0  964983815
4        1       50     5.0  964982931
..     ...      ...     ...        ...
95       1     1445     3.0  964984112
96       1     1473     4.0  964980875
97       1     1500     4.0  964980985
98       1     1517     5.0  964981107
99       1     1552     4.0  964982620

[100 rows x 4 columns]

In [16]:
ratings_1 = ratings.groupby('movieId').mean('rating')
ratings_1[['rating']] = ratings_1[['rating']].astype('int')
ratings_1.head(10)

             userId  rating     timestamp
movieId
1        306.530233       3  1.129835e+09
2        329.554545       3  1.135805e+09
3        283.596154       3  1.005110e+09
4        219.857143       2  8.985789e+08
5        299.571429       3  9.926643e+08
6        309.647059       3  1.057817e+09
7        279.000000       3  9.665462e+08
8        258.250000       2  9.293918e+08
9        362.937500       3  9.447482e+08
10       315.159091       3  1.032265e+09

In [17]:
movies = pd.read_csv('C:\\Users\\2-hom\\Documents\\Data_analysis\\Pyton_Notebook\\ml-latest-small\\movies.csv')
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [18]:
joined = movies.merge(ratings_1, on='movieId', how='left')
movies_1 = joined.drop(columns=['userId', 'timestamp'])
# movies_1.head(10)
isNaN = movies_1[movies_1.isna().any(axis=1)]
isNaN

,movieId,title,genres,rating
816,1076,"Innocents, The (1961)",Drama|Horror|Thriller,NaN
2211,2939,Niagara (1953),Drama|Thriller,NaN
2499,3338,For All Mankind (1989),Documentary,NaN
2587,3456,"Color of Paradise, The (Rang-e khoda) (1999)",Drama,NaN
3118,4194,I Know Where I'm Going! (1945),Drama|Romance|War,NaN
4037,5721,"Chosen, The (1981)",Drama,NaN
4506,6668,"Road Home, The (Wo de fu qin mu qin) (1999)",Drama|Romance,NaN
4598,6849,Scrooge (1970),Drama|Fantasy|Musical,NaN
4704,7020,Proof (1991),Comedy|Drama|Romance,NaN
5020,7792,"Parallax View, The (1974)",Thriller,NaN
5293,8765,This Gun for Hire (1942),Crime|Film-Noir|Thriller,NaN
5421,25855,"Roaring Twenties, The (1939)",Crime|Drama|Thriller,NaN
5452,26085,Mutiny on the Bounty (1962),Adventure|Drama|Romance,NaN
5749,30892,In the Realms of the Unreal (2004),Animation|Documentary,NaN
5824,32160,Twentieth Century (1934),Comedy,NaN
5837,32371,Call Northside 777 (1948),Crime|Drama|Film-Noir,NaN
5957,34482,"Browning Version, The (1951)",Drama,NaN
7565,85565,Chalet Girl (2011),Comedy|Romance,NaN

#### Вариант 1: 
принимает весь датафрейм - отрабатвает быстрее, чем если передавать в функцию построчно

In [19]:
def raiting_class_simple(data):
    ls=[]
    for line in data.rating:
        if line >= 4.5:
            ls.append('высокий рейтинг')
        elif 2 < line < 4.5:
            ls.append('средний рейтинг')
        elif line <= 2:
            ls.append('низкий рейтинг')
        elif pd.isna(line) == True:
            ls.append('нет оценок')
    data['class'] = ls
    return data
    
movies_2 = raiting_class_simple(movies_1)
movies_2.head(10)

,movieId,title,genres,rating,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,средний рейтинг
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.0,средний рейтинг
2,3,Grumpier Old Men (1995),Comedy|Romance,3.0,средний рейтинг
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.0,низкий рейтинг
4,5,Father of the Bride Part II (1995),Comedy,3.0,средний рейтинг
5,6,Heat (1995),Action|Crime|Thriller,3.0,средний рейтинг
6,7,Sabrina (1995),Comedy|Romance,3.0,средний рейтинг
7,8,Tom and Huck (1995),Adventure|Children,2.0,низкий рейтинг
8,9,Sudden Death (1995),Action,3.0,средний рейтинг
9,10,GoldenEye (1995),Action|Adventure|Thriller,3.0,средний рейтинг

#### Вариант 2: 
передает в функцию построчно

In [20]:
def raiting_class(row):
    if row.rating >= 4.5:
        return 'высокий рейтинг'
    elif 2 < row.rating < 4.5:
        return 'средний рейтинг'
    elif row.rating <= 2:
        return 'низкий рейтинг'
    elif pd.isna(row.rating) == True:
        return 'нет оценок'
        
movies_1['class'] = movies_1.apply(raiting_class, axis=1)
movies_1.head(10)

,movieId,title,genres,rating,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,средний рейтинг
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.0,средний рейтинг
2,3,Grumpier Old Men (1995),Comedy|Romance,3.0,средний рейтинг
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.0,низкий рейтинг
4,5,Father of the Bride Part II (1995),Comedy,3.0,средний рейтинг
5,6,Heat (1995),Action|Crime|Thriller,3.0,средний рейтинг
6,7,Sabrina (1995),Comedy|Romance,3.0,средний рейтинг
7,8,Tom and Huck (1995),Adventure|Children,2.0,низкий рейтинг
8,9,Sudden Death (1995),Action,3.0,средний рейтинг
9,10,GoldenEye (1995),Action|Adventure|Thriller,3.0,средний рейтинг

### Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [31]:
data = pd.read_csv('C:\\Users\\2-hom\\Documents\\Data_analysis\\Pyton_Notebook\\Python_11_pandas\\keywords.csv', encoding='utf-8')
data.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [28]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

In [53]:
def geo_cl(row):
    k = 'undefined'
    for key, value in geo_data.items():
        for i in range(0,len(geo_data[key])-1):
            if geo_data[key][i] in row['keyword']:
                k = key
    return k

In [54]:
data['region'] = data.apply(geo_cl, axis=1)

In [55]:
data.head(10)

                      keyword     shows     region
0                          вк  64292779  undefined
1               одноклассники  63810309  undefined
2                       порно  41747114  undefined
3                        ютуб  39995567  undefined
4                   вконтакте  21014195  undefined
5  одноклассники моя страница  19976138  undefined
6                        майл  15144673  undefined
7                       авито  14786593  undefined
8                  переводчик  14453469  undefined
9                      яндекс  13344734  undefined

In [56]:
data['region'].value_counts()  # проверим, сколько значений, отличных от 'undefined', получилось

undefined         99384
Центр               327
Северо-Запад        240
Дальний Восток       49
Name: region, dtype: int64